/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
    font-family: 'Open Sans', sans-serif; 
	background:#483d8b;
    background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover; 
	background-size: cover;
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 100;
}
/*-- main --*/
.main-agileits {
    padding: 1em 0 0;
}
.mainw3-agileinfo {
    width: 40%;
    margin: 2em auto; 
}
.login-w3top {
    background: url(../images/1.png)no-repeat center bottom;
	background-color:#fb6246;
    background-size: cover;
    min-height: 250px;
}
div#login {
    background: #fff;
    padding:1em 2em 2em 2em; 
} 
.form { 
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px; 
    border-radius: 20px;
}
label {
    position: absolute;
    -webkit-transform: translateY(16px);
    -moz-transform: translateY(16px);
    -o-transform: translateY(16px);
    -ms-transform: translateY(16px);
    transform: translateY(16px);
    left: 17px;
    color: #999;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 0.9em;
}
label .req {
    margin: 2px;
    color:#FF5722;
}
label.active {
    -webkit-transform: translateY(50px);
	-moz-transform: translateY(58px); 
	-o-transform: translateY(58px); 
	-ms-transform: translateY(58px); 
    transform: translateY(58px); 
    font-size: .75em;
	left: 2px;
}
label.active .req {
	opacity: 0;
} 
label.highlight {
	color: #fff;
} 
input, textarea {
    font-size: 1em;
    display: block;
    width: 93%;
    padding: 1em;
    background: none;
    background-image: none;
    border: 1px solid #e4e4e4;
    color: #999;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    -moz-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
	outline: 0;
	border-color:#fb6246;
} 
textarea {
	border: 2px solid #a0b3b0;
	resize: vertical;
} 
.top-row .field-wrap input[type="text"] {
    width: 87%;
}
.field-wrap {
	position: relative;
	margin-bottom:2em;
} 
.top-row .field-wrap {
    width: 48%;
    float: left;
	margin-right: 4%;
}
.top-row .field-wrap:nth-child(2) {
    margin-right: 0;
}
.button {
    border: 0;
    outline: none;
    padding: 1.1em;
    font-size: 1em;
    font-weight: 200;
    text-transform: uppercase;
    background:#fb6246;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
    margin-top:2.2em; 
}
.button:hover, .button:focus {
    background:#483d8b;
    letter-spacing: 7px;
}
.button-block {
	display: block;
	width: 100%;
} 
.forgot {
    text-align: left;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
} 
/*-- //main --*/ 
/*-- copyright --*/
.w3copyright-agile{ 
    text-align: center;
	padding-bottom: 2em;
}
.w3copyright-agile p {
    font-size: 0.9em;
    color: #fff;
	line-height:1.8em;
	letter-spacing: 1px; 
}
.w3copyright-agile p a{
    color: #fff; 
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
}
.w3copyright-agile p a:hover{
    color:#fb6246;	
}
/*-- //copyright --*/
/*-- responsive-design --*/ 
@media(max-width:1080px){
.mainw3-agileinfo {
    width: 55%; 
}
} 
@media(max-width:991px){
h1 {
    font-size: 2.6em; 
} 
}
@media(max-width:800px){
h1 {
    font-size: 2.3em;
}
.mainw3-agileinfo {
    width: 65%;
}
.login-w3top { 
    min-height: 200px;
}
div#login { 
    padding: 1em 1.5em 2em 1.5em;
}
.top-row .field-wrap input[type="text"] {
    width: 85%;
} 
}
@media(max-width:667px){
.mainw3-agileinfo {
    width: 70%;
}
input, textarea {
    font-size: 0.9em; 
    padding: 0.8em; 
}
label { 
    -webkit-transform: translateY(11px);
    -moz-transform: translateY(11px);
    -o-transform: translateY(11px);
    -ms-transform: translateY(11px);
    transform: translateY(11px); 
    font-size: 0.8em;
}
label.active {
    -webkit-transform: translateY(43px);
    -moz-transform: translateY(43px);
    -o-transform: translateY(43px);
    -ms-transform: translateY(43px);
    transform: translateY(43px); 
}
.button { 
    padding: 1em;
    font-size: 0.9em; 
}
}
@media(max-width:600px){
.mainw3-agileinfo {
    width: 80%;
}
.w3copyright-agile p { 
    padding: 0 1em;
}
}
@media(max-width:480px){
.login-w3top {
    min-height: 150px;
}
.mainw3-agileinfo {
    width: 85%;
}
div#login {
    padding: 1em 1em 1.5em 1em;
}  
}
@media(max-width:414px){
h1 {
    font-size: 1.8em;
}
.login-w3top {
    min-height: 120px;
}
.top-row .field-wrap {
    width: 100%;
    float: none;
    margin-right: 0;
}
.top-row .field-wrap input[type="text"],input,textarea  {
    width: 92%;
} 
} 
@media(max-width:320px){
h1 {
    font-size: 1.6em;
}
.mainw3-agileinfo {
    width: 92%;
    margin: 1.5em auto;
}
.top-row .field-wrap input[type="text"],input, textarea{
    width: 90%;
}
.w3copyright-agile p {
    font-size: 0.8em; 
    letter-spacing: 0px;
}
}
/*-- //responsive-design --*/ 
